.bicycle__item {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
}

.bicycle__img img {
  width: 100%;
  height: 200px; /* Fixed height for all images */
  object-fit: cover; /* Ensures the image covers the element with its aspect ratio intact */
  border-radius: 5px; /* Optional: to match the border-radius of the item */
}

.bicycle__item-info span i {
  color: #f9a826;
  font-size: 1.1rem;
}

.bicycle__item-btn {
  border-radius: 0;
  border: none;
  outline: none;
  background: #000d6b;
  padding: 8px 0px;
}

.bicycle__item-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.bicycle__item-btn a:hover {
  color: #fff;
}

.bicycle__btn-details {
  background: #f9a826;
  border-radius: 0px 4px 4px 0px;
}

.bicycle__btn-rent {
  border-radius: 4px 0px 0px 4px;
}

.bicycle__item-content h4 {
  font-size: 1.8rem;
}

.bicycle__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .bicycle__item-content h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .bicycle__item-content h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .bicycle__item-info {
    flex-wrap: wrap;
  }

  .bicycle__item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .bicycle__item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .bicycle__item-content h4 {
    font-size: 1rem;
  }

  .bicycle__item-content h6 {
    font-size: 0.9rem;
  }

  .bicycle__item-info span {
    font-size: 0.7rem;
  }

  .bicycle__item-info span i {
    font-size: 0.9rem;
  }

  .bicycle__item-btn {
    font-size: 0.8rem;
  }
}
